.ability-card {
  padding: 10px;
  background-color: #262626;
  border-radius: 20px;
  margin: 10px;
  min-width: 400px;
  max-width: 400px;
}

.ability-card h4 {
  font-size: 2.5rem;
  margin: 0;
}

.ability-card p {
  font-size: 1.6rem;
}

.ability-title {
  display: flex;
  align-items: center;
  background-color: #dc3d4b;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.ability-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.ability-items {
  margin: 10px;
}

@media screen and (max-width: 720px) {
  .ability-card {
    max-width: 350px;
    min-width: 350px;
  }
}