.agent-card {
  text-align: center;
  cursor: pointer;
  margin: 10.5px;
  border-radius: 10px;
  padding: 0px;
  background-color: #4b4b4b;
}

.agent-card-title {
  margin: 10px;
  font-size: 1.7rem;
}

.agent-card-image {
  width: 150px;
  border-radius: 5px;
  display: block;
}

@media screen and (max-width: 720px) {
  .agent-card-image {
    width: 100px;
  }
}
