.card {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  margin: 10.5px;
  border-radius: 10px;
  padding: 0px;
  background-color: #4b4b4b;
}

.card h3 {
  margin: 10px;
}

.card-image {
  width: 150px;
  border-radius: 5px;
  display: block;
}

