footer {
  background-color: rgb(27, 24, 24);
  color: white;
  height: 10vh;
  border: solid 1px black;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 1.8rem;
}

.icon {
  margin: 5px;
  width: 28px;
  height: 28px;
}

.icons-container {
  margin-top: 5px;
}

@media screen and (max-width: 720px) {
  .icon {
    margin: 3px;
    width: 20px;
    height: 20px;
  }
}