header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 24, 24);
  color: white;
  box-shadow: 0px 1px 5px black;
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 2;
}

.valorant-icon {
  width: 40px;
  height: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.logo-container h1 {
  font-family: VALORANT, sans-serif;
  height: 25px;
  color: white;
  font-size: 2.8rem;
}

.header-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

@media screen and (max-width: 720px) {
  .logo-container {
    margin-left: 5px;
  }

  .logo-container h1 {
    display: none;
  }

  .header-buttons-container {
    margin-right: 5px;
  }
}
