.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89.7vh;
}

.home-page h1 {
  font-family: VALORANT, sans-serif;
  color: white;
  font-size: 8rem;
  margin: 0;
  text-align: center;
}

.home-page p {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.home-page-button {
  width: 130px;
  height: 50px;
  margin: 0 30px;
  font-size: 2rem;
  background-color: #fa4454;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .home-page-button {
    width: 90px;
    height: 30px;
    margin: 0 10px;
  }
}
