.weapons-section {
  padding-top: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skin-card-link {
  margin: 10px;
}

.skin-card {
  border: solid 2px #fa4454;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 350px;
}

.skin-card:hover{
  background-color: #1b1b1b;
  transition: .3s;
}

.skin-card h3 {
  font-size: 1.8rem;
  margin: 10px 0 20px 0;
  text-align: center;
}

.skin-card-img {
  height: 100px;
  max-width: 340px;
  margin-bottom: 5px;
}

.skin-page {
  padding-top: 10vh;
  min-height: 79.6vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.skin-page h1 {
  font-size: 4rem;
  text-align: center;
}

.skin-page h2, h3 {
  font-size: 3rem; 
}

.skin-page h5 {
  font-size: 1.8rem;
  margin: 0;
  margin-left: 5px;
}

.skin-page-img {
  width: 40%;
}

.skin-level-img {
  width: 35%;
  margin: 10px;
}

.skin-page-swatch {
  width: 30px;
  border: solid 1px white;
}

.skin-chroma-title-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.skin-chromas-section {
  margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
  .skin-page {
    justify-content: center;
    align-items: center;
  }

  .skin-page-img {
    width: 100%;
  }

  .skin-level-img {
    width: 100%;
  }
}