@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

root {
  margin-top: 10vh;
}

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
}

main {
  min-height: 79.7vh;
}

body {
  background-color: #1b1b1b;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

video {
  width: 50%;
  height: 50%;
}

.buttons {
  width: 100px;
  height: 30px;
  margin: 10px;
  font-size: 1.7rem;
  background-color: #dc3d4b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.buttons:hover {
  background-color: #fa4454;
}

@media screen and (max-width: 720px) {
  * {
    font-size: 7px;
  }
}
